.user {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.colored {
  color: red;
}

.label {
  margin: 0;
}
